# Reference:
# https://access.redhat.com/documentation/en-us/red_hat_enterprise_linux/7/html/installation_guide/sect-kickstart-syntax

{% if build_os == "centos-7" -%}
install
{% endif -%}

{% if build_os == "centos-7" -%}
repo --install --name=patchmonkey-centos-7-os --baseurl=https://yum.oit.duke.edu/patchmonkey/el7/centos-7-os
repo --install --name=patchmonkey-centos-7-extras --baseurl=https://yum.oit.duke.edu/patchmonkey/el7/centos-7-extras
repo --install --name=patchmonkey-centos-7-updates --baseurl=https://yum.oit.duke.edu/patchmonkey/el7/centos-7-updates
repo --install --name=patchmonkey-epel-el7 --baseurl=https://yum.oit.duke.edu/patchmonkey/el7/epel-el7
{% elif build_os == "centos-stream-8" -%}
repo --install --name=patchmonkey-centos-stream-8-appstream --baseurl=https://yum.oit.duke.edu/patchmonkey/el8/centos-stream-8-appstream
repo --install --name=patchmonkey-centos-stream-8-extras --baseurl=https://yum.oit.duke.edu/patchmonkey/el8/centos-stream-8-extras
repo --install --name=patchmonkey-centos-stream-8-baseos --baseurl=https://yum.oit.duke.edu/patchmonkey/el8/centos-stream-8-baseos
repo --install --name=patchmonkey-centos-stream-8-powertools --baseurl=https://yum.oit.duke.edu/patchmonkey/el8/centos-stream-8-powertools
repo --install --name=patchmonkey-epel-next --baseurl=https://yum.oit.duke.edu/patchmonkey/el8/epel-next-8
repo --install --name=patchmonkey-epel-8 --baseurl=https://yum.oit.duke.edu/patchmonkey/el8/epel-el8
{% elif build_os == "centos-stream-9" -%}
# nbc9: the mention of patchmonkey below is a lie.
repo --install --name=patchmonkey-centos-stream-9-appstream --baseurl=https://archive.linux.duke.edu/centos-stream/9-stream/AppStream/x86_64/os/
repo --install --name=patchmonkey-centos-stream-9-baseos --baseurl=https://archive.linux.duke.edu/centos-stream/9-stream/BaseOS/x86_64/os/
repo --install --name=patchmonkey-epel-9-next --baseurl=https://archive.linux.duke.edu/epel/next/9/Everything/x86_64/
repo --install --name=patchmonkey-epel-9 --baseurl=https://archive.linux.duke.edu/epel/9/Everything/x86_64/
{% endif -%}

lang en_US.UTF-8
keyboard us
{% if build_os == "centos-7" -%}
unsupported_hardware
{% endif -%}

network --bootproto=dhcp --hostname={{ template_vm_hostname }}
rootpw --iscrypted {{ template_password_crypt }}
{% if "centos-stream" in build_os -%}
sshkey --username root "{{ template_ssh_pubkey }}"
{% endif %}

# Don't worry, the firewall will be enabled during provisioning
firewall --disabled
timezone  America/New_York
bootloader --location=mbr --append="biosdevname=0 net.ifnames=0"
text
skipx
zerombr
# TODO: Ensure that /dev/sda is logical for all uses
clearpart --all --initlabel --drives=sda
part /boot/efi --fstype efi --size=200 --asprimary
part /boot --fstype xfs --size=1024 --asprimary
part pv.3 --size=100 --grow
{% if "centos-stream" in build_os -%}
volgroup VolGroup00 --reserved-percent=10 pv.3
{% else -%}
volgroup --pesize=32768 --reserved-space=500 VolGroup00 pv.3
{% endif -%}
logvol / --name=root --vgname=VolGroup00 --size=25600
logvol /home --name=home --vgname=VolGroup00 --size=5120
logvol /srv --name=srv --vgname=VolGroup00 --size=5120
logvol swap --fstype swap --name=swap --vgname=VolGroup00 --recommended

{% if build_os == 'centos-7' %}
auth --enableshadow --passalgo=sha512 --kickstart
{% endif %}
firstboot --disabled
eula --agreed
{% if "centos-stream" in build_os -%}
services --enabled=NetworkManager,sshd,chronyd
{% else %}
services --enabled=NetworkManager,sshd,ntpd
{% endif %}

reboot

%pre
# Enable persistent journal from the getgo
mkdir -p /var/log/journal
set -x -v
exec 1>/tmp/ks-pre.log 2>&1

# Once root's homedir is there, copy over the log.
while : ; do
    sleep 10
    if [ -d /mnt/sysimage/root ]; then
        cp /tmp/ks-pre.log /mnt/sysimage/root/
        logger "Copied %pre section log to system"
        break
    fi
done &
%end

%packages --ignoremissing --excludedocs
@core
redhat-lsb-core
curl
wget
ntpdate
net-tools
vim-enhanced
bash-completion
yum-utils
{% if "centos-stream" in build_os -%}
python36
python3-pip
{% endif -%}
# Don't install rhn/satellite stuff
-yum-rhn-plugin
-subscription-manager
-subscription-manager-rhsm
-subscription-manager-rhsm-certificates
# unnecessary firmware
-aic94xx-firmware
-atmel-firmware
-b43-openfwwf
-bfa-firmware
-ipw2100-firmware
-ipw2200-firmware
-ivtv-firmware
-iwl100-firmware
-iwl105-firmware
-iwl135-firmware
-iwl1000-firmware
-iwl2000-firmware
-iwl2030-firmware
-iwl3160-firmware
-iwl3945-firmware
-iwl4965-firmware
-iwl5000-firmware
-iwl5150-firmware
-iwl6000-firmware
-iwl6000g2a-firmware
-iwl6000g2b-firmware
-iwl6050-firmware
-iwl7260-firmware
-iwl7265-firmware
-libertas-usb8388-firmware
-ql2100-firmware
-ql2200-firmware
-ql23xx-firmware
-ql2400-firmware
-ql2500-firmware
-rt61pci-firmware
-rt73usb-firmware
-xorg-x11-drv-ati-firmware
-zd1211-firmware
-libertas-sd8686-firmware
-libertas-sd8787-firmware
%end

%post
set -x -v

exec 1>/root/ks-post.log 2>&1

find /etc/yum.repos.d -type f -not -name '*patchmonkey*' -exec rm {} \;

# timesync first to hardware clocks on campus
ntpdate 152.3.250.1 || ntpdate 152.3.250.2

{% if build_os == 'centos-7' -%}
# install and enable open-vm-tools service
time yum -y --nogpgcheck install open-vm-tools
systemctl enable vmtoolsd.service
{% endif -%}

# update all packages now that we're registered in patchmokey
time yum -y --nogpgcheck update

# setup grub rescue
cp -f /usr/lib/systemd/system/rescue.service /etc/systemd/system
sed -i "s,^ExecStart=.*,ExecStart=-/bin/bash -c 'exec /sbin/sushell'," /etc/systemd/system/rescue.service

# TODO: Determine if this can/should happen in the cleanup phase.
# NOTNOW perl -npe 's/HWADDR.*//g' -i /etc/sysconfig/network-scripts/ifcfg-*
# NOTNOW perl -npe 's/DNS1.*//g' -i /etc/sysconfig/network-scripts/ifcfg-*
# NOTNOW perl -npe 's/DNS2.*//g' -i /etc/sysconfig/network-scripts/ifcfg-*
# NOTNOW perl -npe 's/DOMAIN.*//g' -i /etc/sysconfig/network-scripts/ifcfg-*
# NOTNOW rm -f /etc/ssh/ssh_*key*
# NOTNOW rm -f /etc/hostname
# NOTNOW rm -f /etc/sysconfig/rhn/systemid
# NOTNOW echo /dev/null > /etc/machine-id

# Disable persistent device naming
# TODO: Make sure this is the recommended approach vs linking to /dev/null
rm -f /etc/udev/rules.d/70-persistent-net.rules

# Fix UseDNS because we have a hostname in /root/.authorized_keys.
# This is probably bad long term.
sed -i 's/.*UseDNS.*/UseDNS yes/' /etc/ssh/sshd_config

# cut drac
time dracut --no-hostonly --force

%end
